.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
  }
}

.page-about {
    background-image: url('images/illustrations/about-header-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
